# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# DB URL
MONGODB_URL="mongodb+srv://gurzu-backend:Mjrx4TUiiQfxRnBK@testcluster.g6qry.mongodb.net/?retryWrites=true&w=majority&appName=TestCluster"

# temp media path
TEMP_MEDIA_PATH="public/temp"

# JWT secrets
JWT_SECRET="something"
JWT_REFRESH_SECRET="something"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"

# Admin credentials
ADMIN_NAME="admin"
ADMIN_EMAIL="admin@admin.com"
ADMIN_PASSWORD="admin"

# CSV Records file path
CSV_RECORDS_PATH="public/records"

# Product Stock Threshold
PRODUCT_STOCK_THRESHOLD="10"

# Email Configuration
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="587"
EMAIL_USER="timalsinasibindra@gmail.com"
EMAIL_PASS="mnrq khvg uiuo viqt"
EMAIL_FROM="Sibendra Timalsina"

# Email Templates base path
EMAIL_TEMPLATES_PATH="public/templates/email"